@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased transition-colors duration-300;
  }
}

/* Memastikan struk tetap putih meski mode gelap aktif */
@media print {
  .dark body, .dark main {
    background: white !important;
    color: black !important;
  }
  .no-print { display: none !important; }
}